body {
    background-color: #222;
    color: #fff;     
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.success {
    color: rgb(87, 179, 87);
    font-size: 16px;
    margin-top: 5px;
}

.result-container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
}

.log-in {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999; 
}

.menu-button {
    background-color: #d3cece;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin: 3px;
}

.menu-button:hover {
    background-color: #e7e4e4;
}

.form-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit-container {
    display: flex;
    justify-content: center; /* Center the submit menu-button */
    margin-top: 10px; /* Add margin to separate from input fields */
}

.giriş-container {
    text-align: center;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 3px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px; /* Fixed height for the textarea */
    resize: none; /* Prevent resizing */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.form-group {
    margin-bottom: 15px;
}

.validate-buttons {
    display: flex;
    justify-content: space-between;
}

.menu-button.clear {
    background-color: #f44336;
}
.menu-button.validate {
    background-color: #ffc107;
}

.form-container span {
    display: block;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
    word-wrap: break-word;
    max-height: 200px;
    overflow-y: auto;
}

@media (max-width: 600px) {
    .menu-button {
        width: 100%;
        margin: 5px 0;
    }
    .log-in {
        position: static;
        margin-bottom: 20px;
        text-align: center;
    }
    .submit-container {
        flex-direction: column;
        align-items: stretch;
    }
}

.container {
    margin-top:8%;
    display: flex;
    justify-content: space-between; /* Items placed at the beginning and end of the container */
}

.box {
    text-align: center;
    flex: 1; /* Equal width for both containers */
}

.box img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

.box p {
    margin-top: 10px;
}

a {
    color: #3e34af; /* Default link color (blue) */
}

a:hover {
    color: #ff0000; /* Link color when hovered over (red) */
}

a:active {
    color: #008000; /* Color of active links (green) */
}
